@font-face {
  font-family: 'Red Hat Display';
  src: url('./fonts/RedHatDisplay/RedHatDisplay-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./fonts/RedHatDisplay/RedHatDisplayBlack-Italic.woff2')
    format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./fonts/RedHatDisplay/RedHatDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./fonts/RedHatDisplay/RedHatDisplayBlack-Regular.woff2')
    format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./fonts/RedHatDisplay/RedHatDisplay-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./fonts/RedHatDisplay/RedHatDisplay-BoldItalic.woff2')
    format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./fonts/RedHatDisplay/RedHatDisplayMedium-Regular.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./fonts/RedHatDisplay/RedHatDisplayMedium-Italic.woff2')
    format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('./fonts/RedHatText/RedHatText-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('./fonts/RedHatText/RedHatText-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('./fonts/RedHatText/RedHatText-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('./fonts/RedHatText/RedHatText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('./fonts/RedHatText/RedHatText-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('./fonts/RedHatText/RedHatText-Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
