/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

@import '~tailwindcss/dist/base.css';
@import '~tailwindcss/dist/components.css';
@import '~tailwindcss/dist/utilities.css';

@import './fonts';
@import './colors';

body {
  font-family: 'Red Hat Text', Arial, Helvetica, sans-serif;
  background-color: $dark;
  color: $white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
  }
}
