@import '../../styles/colors';

.btn {
  background-color: $light;
  color: $dark;
}

.success {
  &:hover {
    background-color: $success;
  }
}

.warning {
  &:hover {
    background-color: $error;
    color: $light;
  }
}

.default {
  &:hover {
    background-color: $accent-1;
  }
}
