@import '../../styles/colors';

.btn {
  background-color: $light;
  color: $dark;

  h6 {
    font-family: 'Fira Code', monospace;
  }

  &:hover {
    background-color: $accent-1;
  }
}

.success {
  &:hover {
    background-color: $success;
  }
}

.warning {
  &:hover {
    background-color: $error;
    color: $light;
  }
}
